<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/"><i class="fas fa-home"></i>
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Escolha
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/dadosTeste">Lista de Termos de Testes</a>
                        <a class="dropdown-item" href="/popularbase">Popular Base de Testes</a>
                        <a class="dropdown-item" href="/reiniciarbase">Reiniciar Base de Testes</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/pesquisar">Pesquisar</a>
                    </div>
                </li>
            </ul>            
        </div>
    </nav>